.app{
  width: 100%;
  height: 100vh;
  padding: auto;
  margin: auto;
  background-color: #202632;
  position: absolute;
}
.app__container{
  max-width: 60%;
  height: auto;
  background-color: #313a49;
  margin: auto;
  margin-top: 5vh;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

}
.head-text{
  color: #4cdb98;
  letter-spacing: 1;
  padding: 40px 10px 10px;
  font-size: 10px;

  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}
.fhead-text{
  margin: 50px;
  font-size: 18px;
  letter-spacing: 2px;
}
.body-text{
  color: #ffffff;
  padding: 20px;
  text-align: center;
  justify-content: center;
}
.page-divider{
  display: flex;
  align-items: center;
  justify-content: center;
}
.line1, .line2, .vline1, .vline2{
  border: 1px solid gray;
  margin: 5px;
}
.line1, .line2{
  width: 25%;
  background-color: gray;
}
.vline1, .vline2{
  width: 1px;
  height: 15px;
  border-radius: 5px;
  background-color: gray;
}
.app__control{
  border-radius: 100%;
  z-index: 10;
  background-color: #53ffab;
  width: 50px;
  height: 50px;
  /* margin: 50px 47%; */


  cursor: pointer;
  position: relative;
  top: 25px;
  left: 45%;
  /* left: 415px;
  top: 435px; */
}
@media screen and (max-width: 540px) {
  .app__control{
    left: 42%;
  }
  .app__container{
    max-width: 80%;
    height: auto;
    border-radius: 20px;
    margin: auto;
    margin-left: 32px;
  }
}
@media screen and (min-width: 900px) {
  .app__control{
    left: 47%;
  }
}
.app__control:hover{
  background-color: #ffffff;
}
.control{
  margin: 12.5px ;
}